/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /*

   This CSS is for the feature article page



 */

 .post-template-news-article .wrap {
   padding: 0 1.125rem 1.875rem;
 }

 hr {
   height: 1px;
   background: #CCCCCC;
   border: none;
   margin: 2.25rem 1.125rem;
 }


 /*===============================


   Hero Image Section


 ==================================*/
 .post-template-news-article .single-featured-image-header {
   display: none;
 }

 .news-article.top-section img {
   object-fit: cover;
   width: 100%;
   min-height: 245px;
 }

 #page .featured_caption p {
   color: #000000;
   font-family: "Gentona_LightItalic", sans-serif !important;
   font-size: .75rem;
   margin-bottom: 1.875rem;
   display: block;
   padding: 0 1.125rem !important;
 }

 .article-intro h2 {
   font-family: "Surveyor Text A", "Surveyor Text B", serif;
   font-style: normal;
   font-weight: 500;
   font-size: 1.875rem;
   line-height: 120%;
   color: #002346;
   padding: 0 0 .3125rem;
 }

 #page .article-intro .sub-heading {
   font-family: "Gentona_Medium", sans-serif !important;
   color: #666666;
   font-size: 1.25rem;
   line-height: 120%;
   padding: 0 0 1rem;
 }

 #page .article-intro .byline-date {
   font-family: "Gentona_LightItalic", sans-serif !important;
   line-height: 120%;
   color: #414141;
   padding: 0 0 1.875rem;
   font-size: 0.875rem;
 }
 /*===============================

   Body Content

 ================================*/
 #page .body-content p,
 .wrap > p {
   font-family: "Surveyor Text A", "Surveyor Text B", serif !important;
   font-style: normal;
   font-weight: 400;
   font-size: 1.1875rem;
   line-height: 140%;
   color: #000;
 }

 #page .body-content a {
  font-family: "Gentona_Medium",sans-serif !important;
 }

 .post-template-news-article #page blockquote,
 .post-template-news-article #page blockquote p {
   margin: 1.875rem 0;
   font-family: "Quadon_BoldItalic",Arial,sans-serif !important;
   color: #C2510A;
   line-height: 140%;
   font-size: 1.375rem;
 }

 .post-template-news-article figure {
    margin: 0 0 1.8775rem;
 }

 .post-template-news-article figcaption {
   font-family: "Gentona_LightItalic", sans-serif !important;
   font-size: .75rem;
   line-height: 140% !important;
   padding: 0 1.125rem;
 }

 .news-article.top-section ~ figure img {
     width: 100vw;
     height: 100vw;
     object-fit: cover;
 }

 /*===============================
   Social Media Section
 ==================================*/
 h3.sharing-box-name {
   font-family: "Gentona_BoldItalic", sans-serif;
   text-transform: uppercase;
   color: #C2510A;
   text-align: center;
   font-size: 1rem;
   padding-bottom: .875rem;
 }

 .wrap.share-buttons,
 .wrap.support-link {
     padding: 0 1.125rem !important;
 }

 h3.sharing-box-name i {
   padding: 0 10px;
 }

 .share-button-wrapper button {
   background: none;
   border: none;
   padding: 0;
   display: flex;
   align-items: center;
 }

 .share-button-wrapper {
   display: flex;
   justify-content: center;
 }

 .share-button-wrapper > p {
     margin: .5rem .75rem 0;
 }

 .share-button-wrapper p {
   padding: 0;
 }

 .share-button-wrapper i {
   color: #707070;
   font-size: 2.22rem;
   border-radius: 4px;
   margin-top: -6px;
   width: 32px;
   height: 32px;
 }

 .share-button-wrapper i:before {
   font-size: 2rem;
 }

 i.fas.fa-link {
   color: white;
   background: #707070;
   font-size: 1.5rem;
   padding: 4px;
   border-radius: 4px;
   margin-top: -5px;
   cursor: pointer;
 }

 .share-button-wrapper i:hover {
   color: #002346;
   transition: .3s;
 }

 i.fas.fa-link:hover {
   background: #002346 !important;
   transition: .3s;
 }

 .fa-link:before {
    color: white;
}

 /*===============================


   Support Section


 ==================================*/

 #page .support-text-container p {
   font-family: "Gentona_BookItalic", sans-serif !important;
   font-size: 0.875rem;
   line-height: 140%;
   text-align: center;
   margin: 0.625rem 0 !important;
 }

 #page a.give-button {
   font-family: "Gentona_Bold", sans-serif !important;
   text-transform: uppercase;
   font-size: 1rem;
   line-height: 120%;
   border: 1.5px solid #002346;
   padding: .5rem;
   transition: .3s;
 }

 a.give-button:hover {
   background: #002346;
   color: white !important;
   transition: .3s;
 }

 /*===============================


   Related Posts


 ==================================*/
 .wrap.related-posts {
    padding: 0 1.125rem;
  }

  .relatedposts h3 {
    font-family: "Gentona_Bold", sans-serif;
    font-size: 1.375rem;
    text-transform: uppercase;
    color: #C2510A;
    padding-top: 0;
    text-align: center;
  }

 .relatedthumb h4 {
   font-family: "Surveyor Text A", "Surveyor Text B", serif;
   font-style: normal;
   font-weight: 500;
   color: #002346;
   font-size: 1.25rem;
   line-height: 120%;
   padding: 0;
 }

 #page .relatedthumb p {
   font-family: "Gentona_Book", sans-serif !important;
   color: #414141;
   font-size: 1rem;
   line-height: 140%;
   padding: 0;
 }

 .relatedthumb a {
   display: flex;
 }

 .related-post-title-excerpt {
   flex: 1 50%;
   margin-left: 0.6rem;
 }

 .related-post-featured-image {
   flex: 1 28%;
   max-width: 165px;
 }

 .relatedthumb {
   margin-bottom: 1.25rem;
 }
 /*===============================


   Media Queries


 ==================================*/

 @media (min-width: 768px){
   hr {
    margin: 3.125rem 5.25rem;
  }

  .post-template-news-article .wrap {
    padding: 0 5.25rem;
  }

   /*===============================
     Hero Image Section
   ==================================*/
   #page .featured_caption p {
    padding: 0 5.25rem !important;
  }

   .article-intro h2 {
     font-size: 2.5rem;
     font-family: "Surveyor Display A", "Surveyor Display B", serif;
     font-style: normal;
     font-weight: 500;
     padding: 0 0 .75rem;
   }

   #page .article-intro .sub-heading {
     font-size: 1.375rem;
     padding: 0 0 1.125rem;
   }

   #page .article-intro .byline-date {
     font-size: .875rem;
     font-family: "Gentona_LightItalic", sans-serif !important;
     padding: 0 0 3rem;
   }

   /*===============================
     Body Content
   ==================================*/

   .post-template-news-article #page blockquote,
   .post-template-news-article #page blockquote p {
     font-family: "Quadon_UltraBoldItalic",Arial,sans-serif !important;
   }

   .news-article.top-section ~ figure img {
     width: 100vw;
     height: initial;
     object-fit: cover;
   }

   figcaption {
    padding: .625rem 5.25rem 0 !important;
  }

   /*===============================
     Support Section
   ==================================*/

   #page .support-text-container p {
     font-size: 1rem;
     margin: 1.8% 0;
   }

   /*===============================
     Support Section
   ==================================*/
   h3.sharing-box-name {
     font-size: 1.25rem;
     line-height: 120%;
   }

   .wrap.share-buttons {
    margin: 3.125rem auto 1.5rem;
  }

   /*===============================
     Related Posts
   ==================================*/
   .relatedposts h3 {
    font-size: 1.5rem;
    padding-bottom: 1.25rem;
  }

   .relatedposts-container {
     display: flex;
   }

   .relatedthumb {
     flex: 1 33%;
   }

   .relatedthumb a {
     flex-wrap: wrap;
   }

   .related-post-featured-image {
     flex: 1 100%;
     max-width: 100%;
   }

   .related-post-title-excerpt {
     margin-left: 0;
     flex: 1 100%;
     max-width: 68%;
   }

   .related-post-title-excerpt h4 {
     margin: 4.1% 0;
     font-size: 1.375rem;
   }

   .wrap.related-posts {
    padding: 0 5.25rem;
  }
 }

 @media (min-width: 1025px){
   .post-template-news-article .wrap {
     padding: 0 10rem;
     max-width: 700px;
     box-sizing: content-box;
   }

   hr {
    margin: 3.125rem auto;
    max-width: 900px;
  }

   /*===============================
     Hero Image Section
   ==================================*/
   .news-article.top-section {
    margin-top: 2.5rem;
   }

   .news-article.top-section img {
     max-width: 700px;
     max-height: 450px;
     display: block;
   }

   .article-intro h2 {
    padding-bottom: 0.875rem;
  }

  #page .article-intro .sub-heading {
    font-size: 1.625rem;
    padding-bottom: 1.375rem;
  }

   #page .article-intro .byline-date {
     padding: 0 0 1.875rem;
   }

   /*===============================
     Body Content
   ==================================*/

   .featured_caption {
     max-width: 700px;
     margin: 0 auto;
   }

  #page .featured_caption p {
    max-width: 700px;
    padding-left: 0 !important;
    margin-bottom: 3.125rem;
  }

   .post-template-news-article figure {
     margin: 0 auto;
   }

   .post-template-news-article figure img {
    width: 100% !important;
    max-width: 100% !important;
  }

   .post-template-news-article #page blockquote,
   .post-template-news-article #page blockquote p {
     font-size: 1.5rem;
   }

   .post-template-news-article figure {
     margin: 0 auto 3.5rem;
     max-width: 1025px;
   }

   /*===============================
     Related Posts
   ==================================*/
   .relatedposts h3 {
    font-size: 1.625rem;
    line-height: 120%;
  }

   .related-post-featured-image img {
     width: 200px;
   }

   .related-post-title-excerpt h4 {
     font-size: 1.5rem;
   }

   #page .relatedthumb p {
     font-size: 1.125rem;
   }

   .relatedthumb a {
     max-width: 87%;
   }

   .related-post-title-excerpt {
     max-width: 100%;
   }
 }
