/*
   This CSS is for the home page
 */


 .featured-news-section h2 {
     padding-top: 1.25rem;
 }

 h2.news-h2 {
   font-family: 'Gentona_Bold', sans-serif;
   color: #C2510A;
   font-size: 1.375rem;
   line-height: 120%;
   text-transform: uppercase;
   padding-bottom: .625rem;
   margin-top: 1.25rem;
 }

 .page-template-page-news-home .container {
   padding: 0 1.125rem;
 }

 h3.featured-h3 {
   padding: .75rem 0 .375rem 0;
 }

 #page h3.featured-h3 a {
   font-family: "Surveyor Text A", "Surveyor Text B", serif !important;
   font-style: normal;
   font-weight: 500;
   color: #002346;
   font-size: 1.375rem;
   line-height: 114%;
 }

 #page h3.news-h3 a, #page .news-right-text a, #page h3.researchnews-h3 a {
   font-family: "Surveyor Text A", "Surveyor Text B", serif !important;
   font-style: normal;
   font-weight: 500;
   color: #002346;
   font-size: 1.25rem;
   margin-bottom:;
   line-height: 125%;
   transition: .3s;
 }

 #page h3.news-h3 a:hover, #page .news-right-text a:hover, #page h3.researchnews-h3 a:hover, #page h3.featured-h3 a:hover {
   color: #337AB7;
   transition: .3s;
 }

 #page .news-excerpt p, #page p.news-p, #page p.researchnews-p, #page p.ytoriexcerpt-p {
   font-family: "Gentona_Book", sans-serif !important;
   color: #414141;
   font-size: 1rem;
   line-height: 140%;
   padding: 0;
 }

 #page p.news-p, #page p.researchnews-p {
   margin:;
 }

 h3.news-h3, h3.researchnews-h3 {
   padding: 0;
 }

 .news-and-honors-container {
   padding: 1rem;
 }

 #page h3.awards-h3 a {
   font-family: 'Quadon_Bold' !important;
   color: #337AB7;
   font-size: 1.0625rem;
   line-height: 147%;
   transition: .3s;
 }

 #page h3.awards-h3 a:hover {
   color: #002346;
   transition: .3s;
 }

 .news-featured-thumbnail {
   width: 100%;
 }

 .featured-section {
   padding: 0 1.125rem;
 }

 .research-individual-news, .recent-individual-news {
   display: flex;
   margin-bottom: 1.25rem;
 }

 .news-left-thumbnail, .news-left-thumbnail {
   flex: 1 23%;
   max-width: 165px;
 }

 .research-text, .news-right-text {
   flex: 1 50%;
   margin-left: 0.6rem;
 }

 .recent-news {
   clear: both;
 }

 .news-right-text {
   width: 60%;
 }

 p.link-more {
   display: none;
 }

 .submit-story-container .submit-news-thumbnail {
   display: none;
 }

 .submit-story-container {
   background: #004083;
   padding: 1.5rem 1rem;
   margin: 2.5rem 0;
 }

 .submit-news h3 {
   font-family: "Gentona_Bold", sans-serif;
   color: white !important;
   text-transform: uppercase;
   text-align: center;
   font-size: 1.375rem;
   line-height: 120%;
   padding: 0;
 }

 #page .submit-news p {
   font-family: "Gentona_Book", sans-serif !important;
   color: white;
   line-height: 125%;
 }

 .submit-news p a {
   color: white !important;
   text-transform: uppercase;
   border: 1.5px solid white;
   padding: 0.625rem;
   transition: .3s;
 }

 .submit-news p a:hover {
   background: white;
   color: #004083 !important;
   transition: .3s;
 }

 p.submit-news-link {
   text-align: center;
   margin-top: 1rem;
 }

 .ytori-text-image {
   display: flex;
   flex-flow: row-reverse;
 }

 .ytori-text-image > p {
   flex: 1 50%;
   padding: 0;
 }

 p.ytori-current-issue-link {
   flex: 1 23%;
 }

 p.ytori-current-issue-link img {
   min-height: 135px;
   min-width: 100px;
 }

 p.ytoriexcerpt-p {
   margin-left: 0.625rem;
 }

 .awards-news-section h3 {
   padding: .875rem 0;
 }

 .awards-news-section h3:first-of-type {
   padding-top: 0;
 }

 hr {
   height: 1px;
   background: #CCCCCC;
   border: none;
 }



 /* Media Queries */

 @media (min-width: 768px) {
   /*.news-featured-thumbnail {
     float: left;
     width: 30%;
     margin-bottom: 5%;
   }*/

   .featured-news-section .container {
     padding: 0 1.875rem;
     width: 100%;
   }

   h2.news-h2 {
     font-size: 1.5rem;
     padding-top: .5rem;
   }

   #page h3.featured-h3 {
     padding: ;
   }

   #page h3.featured-h3 a {
     font-size: 1.625rem;
     line-height: 120%;
   }

   #page h3.news-h3 a, #page .news-right-text a, #page h3.researchnews-h3 a {
     font-size: 1.375rem;
   }

   #page .news-excerpt p, #page p.news-p, #page p.researchnews-p {
     font-size: 1.125rem;
   }

   .featured-section {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     align-content: center;
   }

   .featured-news-container {
       display: flex;
       padding: 0 1.875rem;
   }

   h3.news-h3 {
       margin: .625rem 0;
   }

   .news-featured-thumbnail img {
     min-width: 375px;
     min-height: 290px;
     object-fit: cover;
   }

   .news-and-honors-container {
     padding: 1rem 1.875rem;
   }

   .recent-news-section {
     display: flex;
   }

   .recent-individual-news {
     flex-wrap: wrap;
     flex: 1 25%;
     margin-right: 1.25rem;
     align-content: start;
   }

   .recent-individual-news > div {
     flex: 1 100%;
   }

   .recent-news {
     border-top: 1px solid #cccccc;
     border-bottom: 1px solid #cccccc;
     margin: 1rem 0 2rem;
     padding: 1rem 0 2rem;
   }

   .news-left-thumbnail, .news-left-thumbnail {
     max-width: 100%;
   }

   .news-left-thumbnail img {
     width: 100%;
   }

   .research-text,
   .news-right-text {
     margin-left: 0;
   }

   .research-individual-news, .recent-individual-news {
     margin-bottom: 0;
   }

   .home-bottom-container {
     display: flex;
   }

   .research-news-section {
     border-right: 1px solid #CCCCCC;
     margin-right: 2.25rem;
     padding-right: 2.25rem;
     flex: 1 50%;
   }

   .research-news-section h2 {
     padding-top: 0;
     margin-top: 0;
   }

   .research-individual-news {
     margin-bottom: 1.25rem;
   }

   .research-individual-news .news-left-thumbnail {
     flex: 1 22%;
   }

   .research-text {
     padding-left: 1rem;
   }

   .awards-submit-ytori-container {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-content: flex-start;
     flex: 1 30%;
   }

   .awards-news-section {
     order: 2;
   }

   .awards-news-section .news-h2 {
     margin-bottom: 1rem;
   }

   .awards-news-section h3 {
     padding: 1.25rem 0;
   }

   .ytori-current-issue-container {
     order: 3;
   }

   .submit-story-container {
     order: 1;
     padding: 0;
     max-width: 250px;
     margin-top: 0;
   }

   .submit-story-container .submit-news-thumbnail {
     display: block;
   }

   .submit-news {
     padding: 1.25rem 1rem;
   }

   .submit-news h3 {
     line-height: 114%;
   }

   #page .submit-news p {
     font-size: 1.0625rem;
   }

   .submit-news p a {
     font-size: 0.875rem;
   }

   .ytori-current-issue h2 {
     padding-bottom: .375rem;
   }

   .ytori-text-image {
     display: block;
   }

   p.ytoriexcerpt-p {
     margin: 0;
   }

   p.ytori-current-issue-link img {
     max-width: 200px;
     max-height: 240px;
     margin-top: 1.25rem;
   }

   #page h3.awards-h3 a {
       line-height: 120%;
   }

   h3.news-h3 a {
     font-size: 1.0625rem;
   }

 }

 @media (min-width: 1025px) {

   .featured-news-section .container {
     width: 100%;
     max-width: 100%;
     margin: 0;
     padding: 0;
   }

   .news-and-honors-container {
     padding: 1rem 3.75rem;
   }

   .featured-news-section {
     padding: 0 3.75rem;
   }

   .featured-news-container {
     padding: 0;
   }

   .featured-section {
     padding: 0 1.25rem;
   }

   div#content {
     max-width: 1025px;
     margin: 0 auto;
   }

   .news-featured-thumbnail img {
     min-width: 450px;
     min-height: 350px;
   }

   h2.news-h2 {
     font-size: 1.625rem;
     padding-bottom: 1rem;
   }

   #page h3.news-h3 a, #page .news-right-text a, #page h3.researchnews-h3 a {
     font-size: 1.5rem;
     line-height: 120%;
   }

   #page h3.awards-h3 a {
     font-size: 1.125rem;
   }

   .recent-news {
     margin: 1.875rem 0 2.875rem;
   }

   .submit-story-container {
     max-width: 300px;
   }

   .submit-news h3 {
     font-size: 1.625rem;
     line-height: 120%;
   }

   #page .submit-news p {
     font-size: 1.125rem;
     line-height: 140%;
   }

   .submit-news p a {
     line-height: 120%;
   }
 }
